html, body {
	/*max-width: 1180px;*/
}

.wrap {
  max-width: 1180px;
  margin: 0 auto;
}



/*
NAV
*/

.head__nav {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: center;
  align-items: center;
  margin: 10px;
  
}
 .head__nav-item {
  min-width: 150px;
  background-color: #CCCCCC;
  text-align: center;
  padding: 5px 0;
  border: 2px solid #999999;
  border-radius: 3px;
  margin: 1px;
  color: #666666;
 }
 .head__nav-item:hover {
  color: #FFFFFF;
  border-color: #666666;
  background-color: #999999;
 }


 .head__nav-item__link {
  text-decoration: none;
  
 }

 @media screen and (max-width: 505px) {
   .head__nav{
      flex-direction: column;
   }
   
 }


 .head__phone  {
 	display: flex;
 	justify-content: center;
  	align-items: center;
  	margin: 10px;
  	

 }

 .head__phone-img {
 	margin-right: 15px;
 }

 .head__block {
 	display: flex;
 	flex-wrap: wrap;
 	align-items: center;
 	justify-content: space-between;
 	margin:0 auto;
 	padding:0 25px;
 	background-color: #FFFFCC;

 }

 .head__phone-number p {
 	margin: 0;
 	font-size: 14px;
 	color: #666666;
 }

 /*
 FIRST_BLOCK
 */
 .first_block {
  background-image: url(img/background11.jpg) center no-repeat;
  min-height: 690px;
  display: flex;
  justify-content: flex-end;
 }

 .first__block__right {
  max-width: 250px;
 }

/*
FORM
*/
.first__block__form {
  display: flex;
  max-width: 200px;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid #999999;
  border-radius: 3px;
  align-items: stretch;
  padding: 10px;
  margin: 10px;
  background-color: #CCCCCC;
}


.first__block__form_input {
  margin: 10px;
  /*border-radius: 1px;*/
  border-color: #999999;

  padding: 3px;
}


.first__block__form_input:hover {
  border-color: #003366;
  background-color: #FFFFCC;
}

.first__block__form__label {
  padding: 3px 0 0 10px;
  color: #666666;
}

.first__block__form_button {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  margin: 10px;
} 
.first__block__form_button:hover { background: rgb(53, 167, 110); }
.first__block__form_button:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
